<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  

    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">Survey</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg Call Duration (in seconds)</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Unique Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg % questions answered/call</b></td>
        </tr>
        {% for each in data %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.avg_call_dur }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.callers }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.avg_ques_answered }}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endwith %}

</body>
</html>