<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">App Selector</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg Call Duration</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Choices(%)</b></td>
            {% if data.0.cumulative_calls %}
            <td style="{{ style_var }} text-align:center;"><b>Cumulative Calls</b></td>
            {% endif %}
            {% if data.0.cumulative_avg_dur %}
            <td style="{{ style_var }} text-align:center;"><b>Cumulative Avg Call Duration</b></td>
            {% endif %}
        </tr>
        {% for each in data %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.callers }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.avg_dur }}</td>
            <td style="{{ style_var }} text-align:center;">
            {% for key, value in each.choices.items %}
                {% if key %}
                    {{ key }}: {{ value }} <br />
                {% else %}
                    -
                {% endif %}
            {% endfor %}
            </td>

            {% if each.cumulative_calls %}
            <td style="{{ style_var }} text-align:center;">{{ each.cumulative_calls }}</td>
            {% endif %}
            {% if each.cumulative_avg_dur %}
            <td style="{{ style_var }} text-align:center;">{{ each.cumulative_avg_dur }}</td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
    {% endwith %}

</body>
</html>