<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  

    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">Registration</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Average Call Duration</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Registrations</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Registration Success</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Registration Verified</b></td>
        </tr>
        {% for each in data %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.callers_count }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.avg_duration }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.total_regs }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.reg_success }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.reg_verified }}</td>
        </tr>
        {% endfor %}
    
    </table>
    {% endwith %}

</body>
</html>