<html>
  <head>
  <title>Mobile Vaani - Mobile Community Media Network </title>
  <link rel="stylesheet" href="/vapp/app/resources/style/news.css" type="text/css" />
  <style type="text/css">
  /* Overriding rules defined in news.css right here because news.css in not
    included in the git repository, hence it is not possible to commit changes
    to that file.
  */
    body {
      width: 1000px;
    }
    #header {
      padding-left: 10px;
      padding-right: 10px;
    }
    div.item {
      padding: 10px;
    }
    div.item-title {
      width: 800px;
    }
  </style>
    <script src="/vapp/app/resources/js/jquery.min.js"></script>
    <script src="/vapp/app/resources/js/ZeroClipboard.min.js"></script>
    <script language="javascript">
      $(document).ready(function () {
      embed_buttons = document.getElementsByClassName('embed-button')
      for ( i = 0; i < embed_buttons.length; i++ ) {
          var clip = new ZeroClipboard(embed_buttons[i], {
              moviePath: "/vapp/app/resources/swf/ZeroClipboard.swf"
          } );

          clip.on( 'complete', function(client, args) {
              alert("Copied the embed code to clipboard: " + args.text );
          } );
      }
        document.getElementById('ai_id').addEventListener('change', function() {
          var ai_id = this.value,
              pathvars = document.location.pathname.split('/');
          pathvars[3] = ai_id;
          document.location.pathname = pathvars.join('/');
        });
      });
    </script>
  </head>

<body>
  <div id="header">
	<a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_low_res.png"/></a>
	<h1 style="text-align: center;">
      {% if ai %}
        <a id="title" href="/vapp/mnews/{{ ai.id }}/show" title="Main Page">Mobile Vaani</a>
      {% else %}
        <a id="title" href="/vapp/mnews/0/show" title="Main Page">Mobile Vaani</a>
      {% endif %}
    </h1>
  </div>
  <div class="menu" style="margin:5px">
    <label for="ai_id">Select Instance</label>
    <select id="ai_id" name="ai_id">
      <option value="0">Any</option>
      {% for app in ai_list %}
        {% if ai.id == app.id %}
        <option value="{{app.id}}" selected="selected">{{app.name}}</option>
        {% else %}
        <option value="{{app.id}}">{{app.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="content">
	{% for news in pub_news.object_list %}
   	<div class="item">
      <div class="title-audio">
        <div class="item-title">
          <h3><a href="/vapp/mnews/{{ news.ai.id }}/show/detail/{{ news.id }}/" title="Link to posting">{{ news.title }}</a></h3>
        </div>
        <div class="item-audio">
          <object id="audioplayer_1" height="22" width="200" style="outline: none;" name="audioplayer_1" data="/vapp/app/resources/swf/player.swf" type="application/x-shockwave-flash" transparentpagebg="yes">
            <param value="resources/swf/player.swf" name="movie">
            <param value="initialvolume=100&animation=no&remaining=no&noinfo=yes&playerID=audioplayer_1&soundFile=/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3" name="FlashVars">
            <param value="high" name="quality">
            <param value="false" name="menu">
            <param value="transparent" name="wmode">
          </object>
		  <span class="small-text download-embed">
		    <a href="/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3">Download</a>
		    | {% if news.sm_image %}
                    <a href="/fsmedia/{{ news.sm_image.image }}">Download Image</a> 
                    {% endif %}
		    |<span class="embed-button" 
			  data-clipboard-text="<iframe src='http://{{ request.get_host }}{% url 'mnews.views.get_embedded_news' news.ai.id news.id %}' width=350 height=70 scrolling='no'></iframe>">
		      Get Embed Code
		    </span>
		  </span>
        </div>
      </div>

      <div class="transcript">
        <p class="transcript-text">
          {% if news.transcript %} 
          {{ news.transcript }}
          {% else %}
          <span class="no-transcript">Transcript Unavailable.</span>
          {% endif %}
        </p> 
      </div>

      <!--<hr class="metadata-separator">-->
      <div class="metadata small-text">
        {{ news.time }}
        {% if news.location_text %}
            | Location: <a href="/vapp/mnews/{{ news.ai.id }}/show/loc/{{ news.encoded_location }}" title="">{{ news.location_text }}</a>
        {% else %}
            {% if news.location %}
                | Location: <a href="/vapp/mnews/{{ news.ai.id }}/show/locid/{{ news.location.id }}" title="">{{ news.location }}</a>
            {% endif %}
        {% endif %}
        {% if news.tags_dict %}  			
            | Tags:   			
            {% for key,value in news.tags_dict.items %}
                {% if key %}
                    {% if ai %}
                    <a href="/vapp/mnews/{{ ai.id }}/show/tags/{{value}}/">{{ key }}</a>
                    {% else %}
                     <a href="/vapp/mnews/0/show/tags/{{value}}/">{{ key }}</a>
                    {% endif %}&nbsp;
        		{% endif %}
        	{% endfor %}
        {% endif %}
        {% if news.category %}
            | Category: {{ news.category }}
        {% endif %}
        {% if news.qualifier %}
        | Qualifier:
          {% if ai %}
             <a href="/vapp/mnews/{{ai.id}}/show/qualifier/{{news.qualifier.id}}">{{news.qualifier.name}}</a>
          {% else %}
             <a href="/vapp/mnews/0/show/qualifier/{{news.qualifier.id}}">{{news.qualifier.name}}</a>
          {% endif %}
        {% endif %}
        {% if news.format %}
        | Format:
          {% if ai %}
            <a href="/vapp/mnews/{{ai.id}}/show/format/{{news.format.id}}">{{news.format.name}}</a>
          {% else %}
            <a href="/vapp/mnews/0/show/format/{{news.format.id}}">{{news.format.name}}</a>
          {% endif %}
        {% endif %}
      </div>
  
 	  {% if news.published_comments.count > 0 %}
      <div id="commentlist">
   		<h4 style="color: black">Comments</h4>
        {% for comment in news.published_comments %}  
 			<div class="comment"> 
              <hr class="transcript-separator" style="margin:1px">
        	  {% if comment.transcript %} 
        	      <span class="transcript-text">{{ comment.transcript }}</span>
              {% else %}
        		  <span class="no-transcript">Transcript Unavailable.</span>
        	  {% endif %}

                  <div class="comment-audio">
                    <object id="audioplayer_1" height="15" width="150" style="outline: none;" name="audioplayer_1" data="/vapp/app/resources/swf/player.swf" type="application/x-shockwave-flash" transparentpagebg="yes">
                      <param value="resources/swf/player.swf" name="movie">
                      <param value="initialvolume=100&animation=no&remaining=no&noinfo=yes&playerID=audioplayer_1&soundFile=/fsmedia/recordings/{{ comment.ai.id }}/{{ comment.detail.id }}.mp3" name="FlashVars">
                      <param value="high" name="quality">
                      <param value="false" name="menu">
                      <param value="transparent" name="wmode">
                    </object>
		            <span class="small-text">
			      <a href="/fsmedia/recordings/{{ comment.ai.id }}/{{ comment.detail.id }}.mp3">Download</a>
			      | 
			      <span class="embed-button" 
				    data-clipboard-text="<iframe src='http://{{ request.get_host }}{% url 'mnews.views.get_embedded_news' comment.ai.id comment.id %}' width=350 height=70 scrolling='no'></iframe>">
				Get Embed Code</span>
			    </span>
                  </div>
			  
        	  <p style="margin-left: 0px" class="small-text">
            	{{ comment.time }}
            	{% if comment.location %}
        		    | Location: <a href="/vapp/mnews/{{ comment.ai.id }}/show/loc/{{ comment.encoded_location }}" title=""> {{ comment.location }}</a>
        		{% endif %}
                {% if comment.tags_dict %}  			
                    | Tags:   			
                    {% for key,value in comment.tags_dict.items %}
                        {% if key %}
                            <a href="/vapp/mnews/{{ comment.ai.id }}/show/tags/{{value}}/">{{ key }}</a> &nbsp;
        		        {% endif %}
        	        {% endfor %}
                {% endif %}
                {% if comment.category %}
                    | Category: {{ comment.category }}
                {% endif %}                
        	  </p>
              
			</div>
    		{% endfor %}
      </div>
      
      {% endif %}
      
    </div>
    {% endfor %}    
    
  </div>


  <div class="pagination">
 	{% if pub_news.has_previous %}
        <a href="?page={{ pub_news.previous_page_number }}">&lt;&nbsp;Previous</a>
 	{% endif %}
        
        <span class="current">        
          Page {{ pub_news.number }} of {{ pub_news.paginator.num_pages }}
        </span>

	{% if pub_news.has_next %}
        <a href="?page={{ pub_news.next_page_number }}">Next&nbsp;&gt;</a>
    {% endif %}   
  </div>

</body>
</html>
