<html>

<body style="align: center">

    {% for ai, ai_ad_data in daily_ad_stats.items %}
    
    <table style="border-width: thin; border-spacing: 2px; border-style: solid; border-color: black; 
           border-collapse: collapse;">
        <tr style="background-color: #C0C0C0; font-size: larger">
            <th colspan=3 style="border: 1px solid black;">Ad Statistics for {{ ai.name }} </th>
        </tr>
        <tr>
        <td style="border: 1px solid black;">
        Ad Item Id
        </td>
        <td style="border: 1px solid black;">
        Impressions on {{ date }}
        </td>
        <td style="border: 1px solid black;">
        Cumulative Impressions
        </td>
        </tr>
        
        {% for item, item_stats_data in ai_ad_data.items %}
            <tr>
            <td style="border: 1px solid black;">{{ item.id }}</td>
            {% for stat_type, stat_value in item_stats_data.items %}                 
                <td style="border: 1px solid black;">{{ stat_value }}</td>
            {% endfor %}                
            </tr>
        {% endfor %}
     </table>
     
     {% endfor %}
</body>
</html>
