<html>
  <head>
    <style type="text/css">
      body, div, a, img, p, hr {
         margin: 0;
         padding: 0;
         background-color: #F1EFFF;
      }
    </style>
  </head>
  <body>
    <div style="overflow:auto;">
      <div style="float:left; margin-right:5%;">
        <a href="http://www.gramvaani.org">
          <img src="/vapp/app/gv_logo_low_res.png" alt="Gram Vaani Logo" style="width:70; height:70"/>
        </a>
      </div>
      {% if embed_audio == "1" %}
      <div style="width:200px; float:left; margin-top:15px; text-align:center">
        <object id="audioplayer_1" height="33" width="200" style="outline: none;" name="audioplayer_1" data="/vapp/app/resources/swf/player.swf" type="application/x-shockwave-flash" transparentpagebg="yes">
          <param value="resources/swf/player.swf" name="movie">
          <param value="initialvolume=100&animation=no&remaining=no&noinfo=yes&playerID=audioplayer_1&soundFile=/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3" name="FlashVars">
          <param value="high" name="quality">
          <param value="false" name="menu">
          <param value="transparent" name="wmode">
        </object>
        <font style="font-size:0.7em;">Brought to you by <a href="http://www.gramvaani.org">Gram Vaani</a></font>
      </div>
      {% endif %}

      <!--
      <div style="width:500px; float:left">
        <table style="cellspacing:0; width:100%; text-align: center" align="center">
          <tr><td style="font-size:0.7em">Brought to you by</td></tr>
          <tr><td valign="middle" style="margin:0; font-size:2em; font-family:Frutiger; color:#6DB933; font-weight:bold">Mobile Vaani</td></tr>
          <tr><td><a style="margin:0; font-size:0.7em" href="http://www.gramvaani.org">www.gramvaani.org</a></td></tr>
        </table>
      </div>
      -->
    </div>
    {% if embed_title == "1" %}
    <div style="width:100%">
      <hr/>
      <h3 style="margin:0;">{{ news.title }}</h3>
    </div>
    {% endif %}

    {% if embed_transcript == "1" %}
    <div style="width:100%; font-size:0.8em">
      <hr>
      <p style="text-align: justify;">
        {% if news.transcript %} 
          {{ news.transcript }}
        {% else %}
        <span style="color: #A8B37C; font-style: italic;">Transcript Unavailable.</span>
        {% endif %}
      </p> 
    </div>
    {% endif %}

    <div class="basic">
      {% include "mnews/term_and_services.html" %}    
    </div>
    
  </body>
</html>
