<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Moderator History</title>
    <style>
        #table_history {
          border-collapse: collapse;
          width: 100%;
        }

        #table_history td, #customers th {
          border: 1px solid #ddd;
          padding: 8px;
        }

        #table_history tr:nth-child(even){background-color: #f2f2f2;}

        #table_history tr:hover {background-color: #ddd;}

        #table_history th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #4CAF50;
          color: white;
        }
    </style>
    <script>
        function search() {
            var baseUrl = 'http://voice.gramvaani.org/vapp/mnews/history/';
            var selectedModerator=parseInt(document.getElementById('moderator').value)
            var appInstance=parseInt(document.getElementById('appInstance').value)
            var start_date=document.getElementById('start_date').value
            var end_date=document.getElementById('end_date').value
            index=0;
            if (selectedModerator) {
                var url = [];
                url[index] = selectedModerator;
                index++;
                if (appInstance) {
                    url[index]=appInstance
                    index++;
                }
                if (start_date && end_date) {
                    url[index]=(start_date);
                    url[index+1]=(end_date);
                    index++;
                }
                var finalUrl = baseUrl + url.join('/');
                window.location.href=(finalUrl);
            } else {
                alert('Moderator Required');
            }
        }
    </script>
</head>
<body>
    <div id="header">
        <a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_low_res.png"/></a>
        <h1 style="text-align: center;">
            <a id="title" href="" title="Main Page">Mobile Vaani</a>
        </h1>
    </div>
    <select id="moderator" >
      <option value="0">Select Moderator</option>
      {% for moderator in preFilled.moderator_list%}
        {%if moderator.id == preFilled.selected_user_id%}
            <option value={{moderator.id}} selected="selected"> {{moderator.username}} </option>
        {%else%}
            <option value={{moderator.id}}> {{moderator.username}} </option>
        {%endif%}
      {%endfor%}
    </select>

    <select id="appInstance" >
      <option value="0">Select Instance</option>
      {%for app_instance in preFilled.app_instance_list%}
        {%if app_instance.id == preFilled.selected_ai%}
            <option value={{app_instance.id}} selected="selected"> {{app_instance.name}} </option>
        {%else%}
            <option value={{app_instance.id}}> {{app_instance.name}} </option>
        {%endif%}
      {%endfor%}
    </select>

    Start Date <input type="date" id="start_date" value={{preFilled.selected_dates.start_date}}>
    End Date <input type="date" id="end_date" value={{preFilled.selected_dates.end_date}}>
    <button onclick="search()">Search</button>
<br><br>
    {%if history_list%}
        <table border="1" id="table_history" style="width:100%; border-collapse: collapse">
        <tr>
            <th>App Instance</th>
            <th>Item Id</th>
            <th align="left">Changed Fields</th>
            <th align="left">Type</th>
            <th align="left">Date</th>
        </tr>
    {%for event_recorder in history_list%}
        <tr>
            <td align="left" style="width: 10%;">{{event_recorder.item.ai.name}}</td>
            <td align="left" style="width: 7%;">{{event_recorder.item.id}}</td>
            <td align="left" style="width: 60%;">{{event_recorder.fields_changed}}</td>
            <td align="left" style="width: 10%">{{event_recorder.event_type}}</td>
            <td align="left" style="width: 13%">{{event_recorder.timestamp}}</td>
        </tr>
    {%endfor%}
    </table>
        <div class="pagination">
        {% if preFilled.pagination.current_page > 1 %}
            <a href="?page={{ preFilled.pagination.previous_page }}">&lt;&nbsp;Previous</a>
        {% endif %}

            <span class="current">
              Page {{ preFilled.pagination.current_page }} of {{ preFilled.pagination.total_pages }}
            </span>

        {% if preFilled.pagination.current_page < preFilled.pagination.total_pages  %}
            <a href="?page={{ preFilled.pagination.next_page }}">Next&nbsp;&gt;</a>
        {% endif %}
    </div>
    {%else%}
        <h2>History Unavailable for provided fields.</h2>
    {%endif%}

    <div class="basic">
        {% include "mnews/term_and_services.html" %}    
      </div>
      
</body>
</html>