<!DOCTYPE html>
<html lang='en'>
    <head>
        <body>
            <form method ="post">
                <h3> Enter you login Details</h3>
                {% csrf_token %}
                User Name:<input type="text" name='username' placeholder="username"><br>
                Password:<input type="password" name='password' placeholder="password"><br>
                <input type="Submit">
            </form>
        </body>
    </head>
</html>