<html>
<head>
	<title>Mobile Vaani - Mobile Community Media Network </title>
	<link rel="stylesheet" href="/vapp/app/resources/style/news.css" type="text/css" />    
    <script src="/vapp/app/resources/js/jquery.min.js"></script>
    <script src="/vapp/app/resources/js/ZeroClipboard.min.js"></script>
    <script language="javascript">
      $(document).ready(function () {
      embed_buttons = document.getElementsByClassName('embed-button')
      for ( i = 0; i < embed_buttons.length; i++ ) {
          var clip = new ZeroClipboard(embed_buttons[i], {
              moviePath: "/vapp/app/resources/swf/ZeroClipboard.swf"
          } );

          clip.on( 'complete', function(client, args) {
              alert("Copied the embed code to clipboard: " + args.text );
          } );
      }
      });
    </script>
</head>

<body>
  <div id="header">
	<a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_low_res.png"/></a>
	<h1 style="text-align: center;"><a id="title" href="/vapp/mnews/{{ ai.id }}/show" title="Main Page">Mobile Vaani</a></h1>
  </div>

  {% if request.user.is_authenticated %}
  <a href="/vapp/logout_mnews">Log Out</a>
  {% else %}
  <a href="/vapp/login_mnews">Log In</a>
  {% endif %}

  <div id="content"> 
	{% for news in pub_news %}
   	<div class="item">
      <div class="title-audio">
        <div class="item-title">
          {% if request.user.is_authenticated %}
          <h3><a href="/vapp/mnews/{{ ai.id }}/show/detail/{{ news.id }}/" title="Link to posting">{{ news.title }}</a></h3>
          {% else %}
          <h3>{{ news.title }}</h3>
          {% endif %}
        </div>
        <div class="item-audio">
        <audio controls >
            <source src="{{news.detail.get_url}}" type="audio/mpeg" width=350 height=70 scrolling='no'>
        </audio>
        {% if request.user.is_authenticated %}
		  <span class="small-text download-embed">
            <a href="/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3">Download</a>
            | 
            <span class="embed-button" 
                  data-clipboard-text="<iframe src='http://{{ request.get_host }}{% url 'mnews.views.get_embedded_news' news.ai.id news.id %}' width=350 height=70 scrolling='no'></iframe>">
              Get Embed Code
            </span>
          </span>
          {% else %}
          {% endif %}
        </div>
      </div>

      {% if request.user.is_authenticated %}
      <div class="transcript">
        <p class="transcript-text">
          {% if news.transcript %}
          {{ news.transcript }}
          {% elif news.ml_properties %}
            <span id={{news.id}}></span>
            <script>
                var ml_properties="{{news.ml_properties}}";
                var ml_transcript;
                ml_properties = JSON.parse(ml_properties.replace(/&quot;/g,'"'));
                if (ml_properties.ml_transcript) {
                    ml_transcript = ml_properties.ml_transcript;
                } else {
                    ml_transcript = 'Transcript Unavailable'
                }
                document.getElementById({{news.id}}).innerHTML = ml_transcript;
            </script>
            {% else %}
              <span class="no-transcript">Transcript Unavailable.</span>
          {% endif %}
        </p>
      </div>

      <!--<hr class="metadata-separator">-->
      <div class="metadata small-text">
        {{ news.time }}
        {% if news.location_text %}
            | Location: <a href="/vapp/mnews/{{ ai.id }}/show/loc/{{ news.encoded_location }}" title="">{{ news.location_text }}</a>
        {% else %}
            {% if news.location %}
                | Location: <a href="/vapp/mnews/{{ ai.id }}/show/locid/{{ news.location.id }}" title="">{{ news.location }}</a>
            {% endif %}
        {% endif %}
        {% if news.tags_dict %}  			
            | Tags:   			
            {% for key,value in news.tags_dict.items %}
                {% if key %}
                    <a href="/vapp/mnews/{{ ai.id }}/show/tags/{{value}}/">{{ key }}</a> &nbsp;
        		{% endif %}
        	{% endfor %}
        {% endif %}
        {% if news.category %}
            | Category: {{ news.category }}
        {% endif %}
      </div>

 	  {% if news.published_comments.count > 0 %}
 
   	  <div id="commentlist">
   		<h4 style="color: black">Comments</h4>
        {% for comment in news.published_comments %}  
 			<div class="comment"> 
              <hr class="transcript-separator" style="margin:1px">
        	  {% if comment.transcript %} 
       	      <span class="transcript-text">{{ comment.transcript }}</span>
              {% else %}
        		  <span class="no-transcript">Transcript Unavailable.</span>
        	  {% endif %}

                  <div class="comment-audio">
                    <audio controls style="transform: scale(1);">
                        <source src="{{comment.detail.get_url}}" type="audio/mpeg" width=350 height=70 scrolling='no'>
                    </audio>
		            <span class="small-text download-embed">
                      <a href="/fsmedia/recordings/{{ comment.ai.id }}/{{ comment.detail.id }}.mp3">Download</a>
                       | 
                      <span class="embed-button" 
                            data-clipboard-text="<iframe src='http://{{ request.get_host }}{% url 'mnews.views.get_embedded_news' comment.ai.id comment.id %}' width=350 height=70 scrolling='no'></iframe>">
                        Get Embed Code</span>
                    </span>
                  </div>

        	  <p style="margin-left: 0px" class="small-text">
            	{{ comment.time }}
            	{% if comment.location %}
        		    | Location: <a href="/vapp/mnews/{{ ai.id }}/show/loc/{{ comment.encoded_location }}" title=""> {{ comment.location }}</a>
        		{% endif %}
                {% if comment.tags_dict %}  			
                    | Tags:   			
                    {% for key,value in comment.tags_dict.items %}
                        {% if key %}
                            <a href="/vapp/mnews/{{ ai.id }}/show/tags/{{value}}/">{{ key }}</a> &nbsp;
        		        {% endif %}
        	        {% endfor %}
                {% endif %}
                {% if comment.category %}
                    | Category: {{ comment.category }}
                {% endif %}                
        	  </p>
              
			</div>
    		{% endfor %}
      </div>
      {% else %}
      {% endif %}
      
      {% endif %}
      
    </div>
    {% endfor %}    

  </div>

  <div class="basic">
    {% include "mnews/term_and_services.html" %}    
  </div>

</body>
</html>
