<html>
<head>
	<title>Mobile Vaani - Mobile Community Media Network </title>
	<link rel="stylesheet" media="screen" href="/vapp/app/resources/style/blog/screen.css" type="text/css" />    
</head>

<body>
	<div id="headbox" width=100%>
	<a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_new.jpg"/></a>
	<h1 style="text-align: center;" width=100%><a href="http://goonj.net" title="Main Page">Mobile Vaani</a></h1>
	</div>

	<div id="wrapper">
		<div id="content"> 
     
		

   			<div class="posting">
        		<h2><a href="/vapp/mnews/{{ obj.ai.id }}/show/detail/{{ obj.id }}/" title="Link to posting">{{ obj.title }}</a></h2>
        
        		<div class="box">
        			<p style="margin-left: 10px; text-align: justify;" class="transcript_text">
        			{% if obj.transcript %} 
        				{{ obj.transcript }}
        			{% else %}
        				<span class="no_transcript">Transcript Unavailable.</span>
        			{% endif %}
        			</p> 
        		</div>

        		<div class="audiobox">
					<object type="application/x-shockwave-flash" data="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ obj.ai.id }}/{{ obj.detail.id }}.mp3" width="460" height="60">
						<param name="movie" value="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ obj.ai.id }}/{{ obj.detail.id }}.mp3" />
					</object>
        		</div>
                
        		<p class="author">
            		{{ obj.time }}
            		{% if obj.location_text %}
        			| Location: <a href="/vapp/mnews/{{ obj.ai.id }}/show/loc/{{ obj.encoded_location }}" title=""> {{ obj.location_text }}</a>
        			{% else %}
        			{% if obj.location %}
        			| Location: <a href="/vapp/mnews/{{ obj.ai.id }}/show/locid/{{ obj.location.id }}" title=""> {{ obj.location }}</a>
        			{% endif %}
        			{% endif %}
        		
        		    | Tags: 
        			
        			{% if obj.tags_dict %}  			
        			{% for key,value in obj.tags_dict.items %}
        			{% if key %}
        			<a href="/vapp/mnews/{{ obj.ai.id }}/show/tags/{{value}}/"> {{ key }} </a> &nbsp;
        			{% endif %}
        			{% endfor %}
        			{% endif %}
        		</p>
  
 				{% if obj.published_comments.count > 0 %}
 
   				<div id="commentlist">
   					<h3 style="color: #CED6A9; margin-left: 10px; margin-top: 1em;">Comments</h3>
  					<ol class="commentlist">
 
 					{% for comment in obj.published_comments %}  
    				<li>
 						<div style="text-align: justify;"> 
 
							<object style="float: right;" type="application/x-shockwave-flash" transparentpagebg="yes" data="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ obj.ai.id }}/{{ comment.detail.id }}.mp3" width="170" height="31">
								<param name="movie" value="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ obj.ai.id }}/{{ comment.detail.id }}.mp3" />
								<param name="wmode" value="transparent" />
							</object> 
							
        					{% if comment.transcript %} 
        						<span class="transcript_text">{{ comment.transcript }}</span>
        					{% else %}
        						<span class="no_transcript">Transcript Unavailable.</span>
        					{% endif %}

        					<p style="margin-left: 0px" class="author">
            				{{ comment.time }}
            				{% if comment.location %}
        					| Location: <a href="/vapp/mnews/{{ obj.ai.id }}/show/loc/{{ comment.encoded_location }}" title=""> {{ comment.location }}</a>
        					{% endif %}
        					</p>

						</div>
    				</li>
    				{% endfor %}    
    				</ol>
    			</div>
    			
    			{% endif %}
        
    		</div>
    	    

		</div>
	</div>

</body>
</html>