<html>
  <head>
	<title>Australia Network's Q&A Show</title>
	<link rel="stylesheet" href="/vapp/app/resources/style/news.css" type="text/css" />    
    <script src="/vapp/app/resources/js/jquery.min.js"></script>
    <script src="/vapp/app/resources/js/ZeroClipboard.min.js"></script>
    <script language="javascript">
      $(document).ready(function () {
      embed_buttons = document.getElementsByClassName('embed-button')
      for ( i = 0; i < embed_buttons.length; i++ ) {
          var clip = new ZeroClipboard(embed_buttons[i], {
              moviePath: "/vapp/app/resources/swf/ZeroClipboard.swf"
          } );

          clip.on( 'complete', function(client, args) {
              alert("Copied the embed code to clipboard: " + args.text );
          } );
      }
      });
    </script>
  </head>

<body>
  <div id="header" style="background-color:#F6ADAD; border:solid 2px red">
	<a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_low_res.png"/></a>
	<a href="http://oursay.org/"><img id="logoos" src="/vapp/app/resources/images/oursay_logo.png"/></a>
	<h1 style="text-align: center;"><a id="title" href="/vapp/mnews/show/oursay/" title="Main Page">Australia Network's Q&A Show</a></h1>
  </div>

  <div id="content"> 
	{% for news in pub_news.object_list %}
   	<div class="item">
      <div class="title-audio">
        <div class="item-title">
          <h3>{{ news.title }}</h3>
        </div>
        <div class="item-audio">
          <object id="audioplayer_1" height="22" width="200" style="outline: none;" name="audioplayer_1" data="/vapp/app/resources/swf/player.swf" type="application/x-shockwave-flash" transparentpagebg="yes">
            <param value="resources/swf/player.swf" name="movie">
            <param value="initialvolume=100&animation=no&remaining=no&noinfo=yes&playerID=audioplayer_1&soundFile=/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3" name="FlashVars">
            <param value="high" name="quality">
            <param value="false" name="menu">
            <param value="transparent" name="wmode">
          </object>
	  <span class="small-text download-embed">
            <a href="/fsmedia/recordings/{{ news.ai.id }}/{{ news.detail.id }}.mp3">Download</a>
          </span>
        </div>
      </div>

      <div class="transcript">
        <p class="transcript-text">
          {% if news.transcript %} 
          {{ news.transcript }}
          {% else %}
          <span class="no-transcript">Transcript Unavailable.</span>
          {% endif %}
        </p> 
      </div>

      <!--<hr class="metadata-separator">-->
      <div class="metadata small-text">
        {{ news.time }}
        {% if news.location_text %}
            | Location: {{ news.location_text }}
        {% else %}
            {% if news.location %}
                | Location: {{ news.location }}
            {% endif %}
        {% endif %}
        {% if news.tags_dict %}  			
            | Tags:   			
            {% for key,value in news.tags_dict.items %}
                {% if key %}
                    {{ key }} &nbsp;
        		{% endif %}
        	{% endfor %}
        {% endif %}
        {% if news.category %}
            | Category: {{ news.category }}
        {% endif %}
      </div>
  
 	  {% if news.published_comments.count > 0 %}
      <div id="commentlist">
   		<h4 style="color: black">Comments</h4>
        {% for comment in news.published_comments %}  
 			<div class="comment"> 
              <hr class="transcript-separator" style="margin:1px">
        	  {% if comment.transcript %} 
        	      <span class="transcript-text">{{ comment.transcript }}</span>
              {% else %}
        		  <span class="no-transcript">Transcript Unavailable.</span>
        	  {% endif %}

                  <div class="comment-audio">
                    <object id="audioplayer_1" height="15" width="150" style="outline: none;" name="audioplayer_1" data="/vapp/app/resources/swf/player.swf" type="application/x-shockwave-flash" transparentpagebg="yes">
                      <param value="resources/swf/player.swf" name="movie">
                      <param value="initialvolume=100&animation=no&remaining=no&noinfo=yes&playerID=audioplayer_1&soundFile=/fsmedia/recordings/{{ comment.ai.id }}/{{ comment.detail.id }}.mp3" name="FlashVars">
                      <param value="high" name="quality">
                      <param value="false" name="menu">
                      <param value="transparent" name="wmode">
                    </object>
		    <span class="small-text download-embed">
		      <a href="/fsmedia/recordings/{{ comment.ai.id }}/{{ comment.detail.id }}.mp3">Download</a>
		    </span>
                  </div>
			  
        	  <p style="margin-left: 0px" class="small-text">
            	{{ comment.time }}
            	{% if comment.location %}
        		    | Location: {{ comment.location }}
        		{% endif %}
                {% if comment.tags_dict %}  			
                    | Tags:   			
                    {% for key,value in comment.tags_dict.items %}
                        {% if key %}
                            {{ key }} &nbsp;
        		        {% endif %}
        	        {% endfor %}
                {% endif %}
                {% if comment.category %}
                    | Category: {{ comment.category }}
                {% endif %}                
        	  </p>
              
			</div>
    		{% endfor %}
      </div>
      
      {% endif %}
      
    </div>
    {% endfor %}    
    
  </div>


  <div class="pagination">
 	{% if pub_news.has_previous %}
        <a href="?page={{ pub_news.previous_page_number }}">&lt;&nbsp;Previous</a>
 	{% endif %}
        
        <span class="current">        
          Page {{ pub_news.number }} of {{ pub_news.paginator.num_pages }}
        </span>

	{% if pub_news.has_next %}
        <a href="?page={{ pub_news.next_page_number }}">Next&nbsp;&gt;</a>
    {% endif %}   
  </div>

  <div class="basic">
    {% include "mnews/term_and_services.html" %}    
  </div>

</body>
</html>
