<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}

    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">mNews</th>
        </tr>
      <tr>
        <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Avg Call Duration</b></td>
        <td style="{{ style_var }} text-align:center;"><b>New Items</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Items Published</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Items Republished</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Items in Publish State</b></td>
        <td style="{{ style_var }} text-align:center;"><b>New Comments</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Comments Published</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Comments Republished</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Items Heard</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Items Skipped</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Comments Heard</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Comments Skipped</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Bookmarked Items</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Bookmarks Accessed</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Items Forwarded</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Unique Items Forwarded</b></td>
        <td style="{{ style_var }} text-align:center;"><b>#1 Forwarded Item ID</b></td>
        <td style="{{ style_var }} text-align:center;"><b>#1 Forward Count</b></td>
        <td style="{{ style_var }} text-align:center;"><b>#2 Forwared Item ID</b></td>
        <td style="{{ style_var }} text-align:center;"><b>#2 Forward Count</b></td>
        {% if data.0.is_cumulative %}
            <td style="{{ style_var }} text-align:center;"><b>Cumulative Calls</b></td>
        {% endif %}
      </tr>

      {% for each in data %}
      <tr>
        <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.call_stats.calls }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.call_stats.callers }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.call_stats.avg_dur }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.new_items }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.pub_items }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.repub_items }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.total_pub_items }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.new_comments }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.pub_comments }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.repub_comments }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.items_heard_count }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.items_skipped_count }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.comments_heard_count }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.item_stats.comments_skipped_count }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.bmark_items }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.bmark_accessed }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.items_forwarded}}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.unique_items_forwarded}}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.top_forwarded_item_id}}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.top_forwarded_item_count}}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.second_top_forwarded_item_id}}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.forwarding_stats.second_top_forwarded_item_count}}</td>

        {% if each.is_cumulative %}
            {% if each.cumulative_stats %}
                <td style="{{ style_var }} text-align:center;">{{ each.cumulative_stats.calls }}</td>
            {% else %}
                <td style="{{ style_var }} text-align:center;">Not Available</td>
            {% endif %}
        {% endif %}
      </tr>
      {% endfor %}

    </table>
    {% endwith %}
    <br/>
</body>
</html>
