<h2>Schedule</h2>
<ul style="line-height:1.5em">
	<li>
		<h3>First call starts at <i>time picker</i>:</h3>
		Lets you set the start time for tracker calls. You can edit it by clicking on it. For example, if you have set the start time to 9:30pm and pressed the <i><b>Start</b></i>, vTrack will make the first call to tracked person's number at 9.30. 
		Subsequently, vTrack will call him/her at the interval set in the <i><b>Settings</b></i> tab. 
	</li>
	<li>
		<h3>Start/Stop <i>button</i>:</h3>
		If no vTrack tracking calls are scheduled, pressing the <i><b>Start</b></i> button will schedule the first call at the time set in <i><b>First call starts at</b></i> field. If a tracking call is scheduled, pressing the <i><b>Stop</b></i> button will cancel it. 
	</li>
</ul>

<h2>Settings</h2>
<ul style="line-height:1.5em">
	<li>
		<h3>Tracked Name:</h3>
		Enter the name of the person who is being tracked. This information is presented to the guardian if he/she misses the tracker calls or does not authenticate himself/herself.
	</li>
	<li>
		<h3>Tracked Number:</h3>
		Enter the number of the person who is being tracked. vTrack calls him/her up on this number.
	</li>
	<li>
		<h3>Guardian's Number:</h3>
		Enter the guardian's number. In case of an emergency, vTrack will call the guardian on this number.
	</li>
	<li>
		<h3>Call Interval:</h3>
		Set the interval between tracker calls. vTrack separates two consecutive tracker calls by this time. 
	</li>
	<li>
		<h3>Security Code:</h3>
		The 4-digit secret code that the tracked person should know to authenticate himself/herself. If he/she is unable to authenticate himself/herself, vTrack will trigger an automated alert to the guardian. 
	</li>
</ul>
