<html>
<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr>
        {% for each in header1 %}
            <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
        {% endfor %}
        </tr>
        {% for each in stats %}
        <tr>
            <td style="{{ style_var }} text-align:center;">
            {{ each.comments_received_between_time}}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.playlist_items_accessed_between_time }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.item_file_accessed_between_time }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.unique_device_id_count_between_time }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_comments_received }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_registration_attempts }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_app_users }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_registered_user }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_playlist_item_accessed }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_item_file_accessed }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.total_unique_device_id_count }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
    <br />
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr>
        {% for each in header2 %}
            <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
        {% endfor %}
        </tr>
        {% for each in stats %}
        <tr>
            <td style="{{ style_var }} text-align:center;">
            {{ each.registration_attempts_between_time }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.new_registration }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.re_registration }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.updated_name }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.updated_number }}</td>
            <td style="{{ style_var }} text-align:center;">
            {{ each.updated_name_number }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endwith %}
</body>
</html>
