<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr>
        {% for each in header %}
            <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
        {% endfor %}
        </tr>
        {% for each in stats %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.ai }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.schedule }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.filtered_dialouts }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.dialouts }}</td>
        </tr>
        {% endfor %}
        <tr>
        {% for each in footer %}
            <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
        {% endfor %}
        </tr>
    </table>
    {% endwith %}
</body>
</html>
