<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">{{ data.name }}</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg Call Duration</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Conversations with RSBY Mitra</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Beneficiary Helpline Usage</b></td>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ data.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.callers }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.avg_dur }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.total_handler_recordings }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.avg_dur_handler_recordings }}</td>
        </tr>
    </table>
    {% endwith %}
    <br/>
</body>
</html>