<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">{{ data.name }}</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg Call Duration (s)</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Conversations with Beneficiary</b></td>
            <td style="{{ style_var }} text-align:center;"><b>RSBY Mitra Helpline Usage</b></td>
            <td style="{{ style_var }} text-align:center;"><b>New Grievances</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Grievances Pending</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Grievances Resolved</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Grievances Flagged</b></td>
            <td style="{{ style_var }} text-align:center;"><b>New Updates</b></td>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ data.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.callers }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.avg_dur }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.total_handler_recordings }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.avg_dur_handler_recordings }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.grievance_count }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.pending }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.resolved }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.flagged }}</td>
            <td style="{{ style_var }} text-align:center;">{{ data.updates }}</td>
        </tr>
    </table>
    {% endwith %}
    <br/>
</body>
</html>