<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  

    <table style="{{ style_var }} border-collapse: collapse;">
      <tr>
            <td style="{{ style_var }} text-align:center;"><b>Application</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg Duration (seconds)</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
      </tr>
      {% for each in stats %}
      <tr>
        <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.calls }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.avg_call_dur }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.callers }}</td>
      </tr>
      {% endfor %}
    
    </table>
    {% endwith %}

</body>
</html>