<html>
<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">Campaign</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Campaign</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Times Items Heard</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Times Items Heard</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Avg Listening Duration (seconds)</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Contributions</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Contributions</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Listeners</b></td>
        </tr>
        {% for each in data %}
            <tr>
                <td style="{{ style_var }} text-align:center;">{{ each.campaign_name }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.times_items_heard }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_times_items_heard }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_avg_dur }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.ugc_contribs }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_ugc_contribs }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_listeners }}</td>
            </tr>
        {% endfor %}
        </table>    
    {% endwith %}
    <br/>
</body>
</html>