<html>
  <head>
  <title>Mobile Vaani - Mobile Community Media Network </title>
    <style type="text/css">
  /* Overriding rules defined in news.css right here because news.css in not
    included in the git repository, hence it is not possible to commit changes
    to that file.
  */
    body {
      width: 1000px;
    }
    #header {
      padding-left: 10px;
      padding-right: 10px;
    }
    div.item {
      padding: 10px;
    }
    div.item-title {
      width: 800px;
    }
  </style>
   <link rel="stylesheet" href="/vapp/app/resources/style/news.css" type="text/css" />
    <script src="/vapp/app/resources/js/jquery.min.js"></script>
    <script src="/vapp/app/resources/js/ZeroClipboard.min.js"></script>
    <script language="javascript">

      $(document).ready(function () {
      embed_buttons = document.getElementsByClassName('embed-button')
      for ( i = 0; i < embed_buttons.length; i++ ) {
          var clip = new ZeroClipboard(embed_buttons[i], {
              moviePath: "/vapp/app/resources/swf/ZeroClipboard.swf"
          } );

          clip.on( 'complete', function(client, args) {
              alert("Copied the embed code to clipboard: " + args.text );
          } );
      }
        document.getElementById('ai_id').addEventListener('change', function() {
          var ai_id = this.value,
              pathvars = document.location.pathname.split('/');
          pathvars[3] = ai_id;
          document.location.pathname = pathvars.join('/');
        });

        document.getElementById('handler_id').addEventListener('change', function() {
          var handler_id = this.value,
              pathvars = document.location.pathname.split('/');
          pathvars[4] = handler_id;
          document.location.pathname = pathvars.join('/');
        });

        document.getElementById('state_id').addEventListener('change', function() {
          var state_id = this.value,
              pathvars = document.location.pathname.split('/');
          pathvars[5] = state_id;
          document.location.pathname = pathvars.join('/');
        });

      });
    </script>
  </head>

<body>
  <div id="header">
	<a href="http://gramvaani.org"><img id="logo" src="/vapp/app/gv_logo_low_res.png"/></a>
	<h1 style="text-align: center;">
      {% if ai %}
        <a id="title" href="/vapp/case_manager/{{ ai.id }}/0/0/show" title="Main Page">Mobile Vaani</a>
      {% else %}
        <a id="title" href="/vapp/case_manager/0/0/0/show" title="Main Page">Mobile Vaani</a>
      {% endif %}
    </h1>
  </div>
  <div class="menu" style="margin:5px">
    <label for="ai_id">Select Instances</label>
    <select id="ai_id" name="ai_id">
      <option value="0">Any</option>
      {% for app in ai_list %}
        {% if ai.id == app.id %}
        <option value="{{app.id}}" selected="selected">{{app.name}}</option>
        {% else %}
        <option value="{{app.id}}">{{app.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="menu" style="margin:5px">
    <label for="handler_id">Select Handler</label>
    <select id="handler_id" name="handler_id">
      <option value="0">Any</option>
      {% for handler in handler_list %}
        {% if handler.id == handler_id %}
        <option value="{{handler.id}}" selected="selected">{{handler.name}}</option>
        {% else %}
        <option value="{{handler.id}}">{{handler.name}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="menu" style="margin:5px">
    <label>Select State</label>
    <select id="state_id" name="state_id">
      <option value="0">Any</option>
      {% for state in state_list %}
        {% if state.id == state_id %}
        <option value="{{state.id}}" selected>{{state.state}}</option>
        {% else %}
        <option value="{{state.id}}">{{state.state}}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="content">
	{% for news in pub_news.object_list %}
   	<div class="item">
      <div class="title-audio">
          <h3><a href="/vapp/mnews/{{ news.ai.id }}/show/detail/{{ news.id }}/" title="Link to posting">
              {{ news.title }} ({{news.grievance.handler.name}} RefID:{{news.grievance.reference_id}})
            </a></h3>

        <div class="item-audio">

             <audio controls >
                 <source src="{{news.detail.get_url}}" type="audio/mpeg" width=350 height=70 scrolling='no'>
            </audio>
       </div>
      </div>
        <div class="transcript">
        <p class="transcript-text">
          {% if news.transcript %}
          {{ news.transcript }}
          {% else %}
          <span class="no-transcript">Transcript Unavailable.</span>
          {% endif %}
        </p>
      </div>

      <!--<hr class="metadata-separator">-->
      <div class="metadata small-text">
        {{ news.time }}
        {% if news.location_text %}
            | Location: <a href="/vapp/case_manager/{{ news.ai.id }}/show/loc/{{ news.encoded_location }}" title="">{{ news.location_text }}</a>
        {% else %}
            {% if news.location %}
                | Location: <a href="/vapp/case_manager/{{ news.ai.id }}/show/locid/{{ news.location.id }}" title="">{{ news.location }}</a>
            {% endif %}
        {% endif %}
        {% if news.tags_dict %}
            | Tags:
            {% for key,value in news.tags_dict.items %}
                {% if key %}
                    {% if ai %}
                    <a href="/vapp/case_manager/{{ ai.id }}/show/tags/{{value}}/">{{ key }}</a>
                    {% else %}
                     <a href="/vapp/case_manager/0/show/tags/{{value}}/">{{ key }}</a>
                    {% endif %}&nbsp;
        		{% endif %}
        	{% endfor %}
        {% endif %}
        {% if news.category %}
            | Category: {{ news.category }}
        {% endif %}
        {% if news.qualifier %}
        | Qualifier:
          {% if ai %}
             <a href="/vapp/case_manager/{{ai.id}}/show/qualifier/{{news.qualifier.id}}">{{news.qualifier.name}}</a>
          {% else %}
             <a href="/vapp/case_manager/0/show/qualifier/{{news.qualifier.id}}">{{news.qualifier.name}}</a>
          {% endif %}
        {% endif %}
        {% if news.format %}
        | Format:
          {% if ai %}
            <a href="/vapp/case_manager/{{ai.id}}/show/format/{{news.format.id}}">{{news.format.name}} {{path_link}}</a>
          {% else %}
            <a href="/vapp/case_manager/0/show/format/{{news.format.id}}">{{news.format.name}}</a>
          {% endif %}
        {% endif %}
      </div>


 	  {% if news.published_comments.count > 0 %}
      <div id="commentlist" style="width:100%, height:100%">
   		<h4 style="color: black">Comments</h4>
        {% for comment in news.published_comments %}
 			<div class="comment">
                <div>
                  <hr class="transcript-separator" style="margin:1px">
                  {% if comment.transcript %}
                      <span class="transcript-text">{{ comment.transcript }}</span>
                  {% else %}
                      <span class="no-transcript">Transcript Unavailable.</span>
                  {% endif %}
                   <p style="margin-left: 0px" class="small-text">
                        {{ comment.time }}
                        {% if comment.location %}
                            | Location: <a href="/vapp/mnews/{{ comment.ai.id }}/show/loc/{{ comment.encoded_location }}" title=""> {{ comment.location }}</a>
                        {% endif %}
                        {% if comment.tags_dict %}
                            | Tags:
                            {% for key,value in comment.tags_dict.items %}
                                {% if key %}
                                    <a href="/vapp/mnews/{{ comment.ai.id }}/show/tags/{{value}}/">{{ key }}</a> &nbsp;
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if comment.category %}
                            | Category: {{ comment.category }}
                        {% endif %}
                      </p>
                </div>
                <div class="holder" style="float:left">
                  <audio controls style="transform: scale(1.05);">
                    <source src="{{news.detail.get_url}}" type="audio/mpeg" width=350 height=70 scrolling='no'>
                  </audio>
                </div>&nbsp;
			</div>
    		{% endfor %}
      </div>
      {% endif %}

    </div>
    {% endfor %}

  </div>
    </div>




  <div class="pagination">
 	{% if pub_news.has_previous %}
        <a href="?page={{ pub_news.previous_page_number }}">&lt;&nbsp;Previous</a>
 	{% endif %}

        <span class="current">
          Page {{ pub_news.number }} of {{ pub_news.paginator.num_pages }}
        </span>

	{% if pub_news.has_next %}
        <a href="?page={{ pub_news.next_page_number }}">Next&nbsp;&gt;</a>
    {% endif %}
  </div>

</body>
</html>
