<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}

    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">Case Manager</th>
        </tr>
      <tr>
        <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Calls</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Callers</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Received Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Assigned Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Rejected Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Received Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Assigned Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Unassigned Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Rejected Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Reopened Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Resolved Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Unresolvable Grievances</b></td>
        <td style="{{ style_var }} text-align:center;"><b>Total Unique Callers</b></td>
      </tr>

      {% for each in data %}
      <tr>
        <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.call_stats.calls }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.call_stats.callers }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.received_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.assigned_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.rejected_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_received_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_assigned_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_unassigned_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_rejected_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_opened_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_resolved_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.grievance_stats.total_unresolvable_grievance }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.cumulative_call_stats.callers }}</td>
      </tr>
      {% endfor %}
      
    </table>
    {% endwith %}
    <br/>
</body>
</html>
