<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}

    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">vMiss</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Instance</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Answered Calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Unique Callers</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Sms Sent</b></td>
            <td style="{{ style_var }} text-align:center;"><b>HTTP Request Sent</b></td>
            {% if data.0.cumulative_calls %}
            <td style="{{ style_var }} text-align:center;"><b>Cumulative Calls</b></td>
            {% endif %}
        </tr>
        {% for each in data %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.ai_name }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.total_calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.answered_calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.callers }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.sms_sent }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.http_sent }}</td>
            {% if each.cumulative_calls %}
            <td style="{{ style_var }} text-align:center;">{{ each.cumulative_calls }}</td>
            {% endif %}
        </tr>
        {% endfor %}

    </table>
    {% endwith %}

</body>
</html>

