<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <b>Helpline</b>
    {% for entry in data %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">{{ entry.ai_name }}</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Handled by</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Number of calls</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Avg. call duration</b></td>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;">Unattended</td>
            <td style="{{ style_var }} text-align:center;">{{ entry.unattended_calls_count }}</td>
            <td style="{{ style_var }} text-align:center;">NA</td>
        </tr>
        {% for each in entry.handler_call_data %}
        <tr>
            <td style="{{ style_var }} text-align:center;">{{ each.handler }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.calls }}</td>
            <td style="{{ style_var }} text-align:center;">{{ each.avg_call_dur }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td style="{{ style_var }} text-align:center;">Total Calls</td>
            <td style="{{ style_var }} text-align:center;">{{ entry.total_calls }}</td>
        </tr>
    </table>
    <br />
    {% endfor %}

    {% endwith %}
</body>
</html>