<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  
    <table style="{{ style_var }} border-collapse: collapse;">
      <tr><td colspan="100%" style="{{style_var}}"><b>Hostname: {{hostname}}</b></td></tr>
      <tr><td colspan="100%" style="{{style_var}}"><b>Time range:{{starttime}} - {{endtime}}</b></td></tr>
      <tr>
      {% for each in header %}
        <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
      {% endfor %}
      </tr>
      {% for each in stats %}
      <tr>
        <td style="{{ style_var }} text-align:center;"><b>{{ each.instance }}</b></td>
        <td style="{{ style_var }} text-align:center;">{{ each.incoming }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.callback_tried }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.success_callback_count }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.rejected }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.delayed }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.success_callback_pc }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.query_execution_time }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endwith %}
    <br /><br />
    <small>
        <div>Legends:</div>
        <div>- Incoming -> Total incoming calls</div>
        <div>- Callback Attempted -> Total callback attempts including re-tries</div>
        <div>- Callback Answered -> Total callback answered by caller</div>
        <div>- Rejected -> Incoming calls that were rejected due to applicable filters</div>
        <div>- Lost -> Calls lost due to delay policy</div>
        <div>- Percentage of Successful Callbacks -> Percent (Callback Answered + Rejected + Lost)/Incoming Calls</div>
        <div>- Complete -> Includes all the active applications</div>
    </small>
</body>
</html>
