<html>

<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}  
    <table style="{{ style_var }} border-collapse: collapse;">
       <tr><td colspan="100%" style="{{style_var}}"><b>Hostname: {{hostname}}</b></td></tr>
      <tr>
      {% for each in header %}
        <td style="{{ style_var }} text-align:center;"><b>{{ each }}</b></td>
      {% endfor %}
      </tr>
      {% for each in handlers %}
      <tr>
        <td style="{{ style_var }} text-align:center;"><b>{{ each.handler_name }}</b></td>
         <td style="{{ style_var }} text-align:center;">{{ each.total_gri }}</td>

        <td style="{{ style_var }} text-align:center;">{{ each.ASSIGNED }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.HALTED_PROGRESS }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.INPROGRESS }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.MARKED_RESOLVED }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.REJECTED }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.UNASSIGNED }}</td>
        <td style="{{ style_var }} text-align:center;">{{ each.UNMODERATED }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endwith %}
    <br /><br />
</body>
</html>
