<html>
<body>
    {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
    <table style="{{ style_var }} border-collapse: collapse;">
        <tr style="{{ style_var }} text-align:center;">
            <th colspan="100%">Advertisement</th>
        </tr>
        <tr>
            <td style="{{ style_var }} text-align:center;"><b>Name</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Impressions</b></td>
            <td style="{{ style_var }} text-align:center;"><b>Total Leads</b></td>
        </tr>
        {% for each in data %}
            <tr>
                <td style="{{ style_var }} text-align:center;">{{ each.ad_name }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_impressions }}</td>
                <td style="{{ style_var }} text-align:center;">{{ each.total_leads }}</td>
            </tr>
        {% endfor %}
        </table>    
    {% endwith %}
    <br/>
</body>
</html>