<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward_name_u }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/{{app_name}}/{{ city }}/{{ ward_name }}/" title="Main Page">{{ ward_name_u }}</a></h1>
	</div>
	
	{% load mward_tags %}
<div>
<ul id="menu">
 {% for type in types %}
 
 {% if type == selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="" class="current">{{ type.type }}</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="">{{ type.type }}</a></li>
 {% endif %}
 {% endfor %}
 {% if not selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues" class="current">Issues</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues">Issues</a></li>
 {% endif %}
 {% if selected == 'archives' %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives" class="current">Report Archives</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives">Report Archives</a></li>
 {% endif %}
 </ul>
 </div>


<div>
{% for year, reports in year_reports_map.items %}

<table class="issuetable">
 <colgroup>
<col class="oce-first">
</colgroup>

<thead class="oce-first">
<tr>
<th>Year : {{ year }}</th>
</tr>
</thead>
<tbody>

{% for report in reports %}
<tr class="{% if forloop.counter|divisibleby:"2" %}even {% else %}odd{% endif %}">
<td class="padtd">

<a href="/vapp/mward/get_monthly_report/{{ ward.id }}/{{ report }}/{{ year }}">
{% named_month report %} Report</a>
</td>

</tr>
{% endfor %}
</tbody>

</table>
<br/>
{% endfor %}
</div>

</body>
</html>