<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward_name_u }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/{{app_name}}/{{ city }}/{{ ward_name }}/" title="Main Page">{{ ward_name_u }}</a></h1>
	</div>
	
<div>
<ul id="menu">
 {% for type in types %}
 
 {% if type == selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="" class="current">{{ type.type }}</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="">{{ type.type }}</a></li>
 {% endif %}
 {% endfor %}
 {% if not selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues" class="current">Issues</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues">Issues</a></li>
 {% endif %}
 {% if selected == 'archives' %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives" class="current">Report Archives</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives">Report Archives</a></li>
 {% endif %}
 </ul>
 </div>

<div>
<table class="issuetable">
 <colgroup>
<col class="oce-first">
</colgroup>

<thead class="oce-first">
<tr>
<th>Issue No.</th>
<th>Entity</th>
<th>Color Reported</th>
<th>Reason Not Green</th>
<th>Reported By</th>
<th>Report Date</th>
<th>Gov. Officer Assigned</th>
<th>Action Taken</th>
<th>Issue Resolved?</th>
<th>Reason For Delay</th>
<th>Comments</th> 
</tr>

</thead>
<tbody>
{% for issue in issues %}
<tr class="{% if forloop.counter|divisibleby:"2" %}even {% else %}odd{% endif %}">
 <td class="padtd">
{{ issue.id }}
</td> 
 <td class="padtd">
{{ issue.entity }}
</td>
<td class="padtd"> <span style=" background: {{ issue.color_reported.hex_code }}; color: #FFFFFF; width: 90%;">{{ issue.color_reported.color_code }} </span> 
</td>

<td class="padtd">
{{ issue.not_green_reason }}
</td>
<td class="padtd">
{{ issue.reported_by.username }}
</td>
<td class="padtd">
{{ issue.report_time }}
</td>
<td class="padtd">
{{ issue.assigned_to.username }}
</td>
<td class="padtd">
{{ issue.action_taken }}
</td>
<td class="padtd">
{% if issue.issue_resolved %}
Yes
{% else %}
No
{% endif %}
</td>
<td class="padtd">
{{ issue.reason_delay }}
</td>
<td class="padtd">
{{ issue.comments }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>

</body>
</html>