<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ city }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="" title="Main Page">Model Ward Project - {{ city }}</a></h1>
	</div>

<div>

{% for zone in zones %}

<div style="height: 25px; width: 90%; margin:15px; float: center; background: #78FF44;">
<h3 style="text-align: center;">{{ zone.zone_name }}&nbsp;Zone</h3>
</div>

<div style="border: 50px;">
<form method="post" action="">
{% csrf_token %}
<select name="ward" align="center">
<option value="default">--select your ward--</option>
{% for ward in zone.wards %}
<option value="{{ward.id}}">{{ ward.ward_name }} ({{ ward.ward_number }})</option>
{% endfor %}
</select>
<input type="hidden" name="zone" value={{ zone }} />
<input type="submit" value="Go"></input>
</form>
</div>
{% endfor %}	
</div>
</body>
</html>