<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MDM - SMS based status report</title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />
<h1 style="text-align: center;" width=50%><a href="/vapp/mward/{{ ai.id }}/mdm_dashboard" title="Main Page">{{ ai.name }} - {{ block.name }}</a></h1>
</head>
<body>

<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>	
	<div style="align:right;">SMS to: <b><i>09220092200</i></b></div>
	</div>


<div id="info">
<table>
<thead class="oce-first">
<tr>
<th>
Total Reports expected
</th>
<th>
Total Reports received
</th>
</tr>
</thead>
<tbody>
<tr>
<td>
{{ total }}
</td>
<td>
{{ reports|length }}
</td>
</tr>
</tbody>
</table>

 
 <table class="entitytable">
 <thead class="oce-first">
 <tr>
 <th>Location</th>
 <th>Reported By</th>
 <th>Report time</th>
 <th>Total Children</th>
 <th>Children Fed</th>
 <th>Help Needed?</th>
 <th>Comments</th>
 </tr>
 </thead>
 <tbody>
 {% for report in reports %}
 <tr>
 <td>
 {{ report.location }}
 </td>
 <td>
 {{ report.contact.name }}
 </td>
 <td>
 {{ report.time }}
 </td>
 <td>
 {{ report.total_students }}
 </td>
 <td>
 {{ report.students_fed }}
 </td>
 <td>
 {% if report.help_needed %}
 Yes
 {% else %}
 No
 {% endif %}
 </td>
 <td>
 {% if report.comments %}
 {{ report.comments }}
 {% else %}
 No Comments
 {% endif %}
 </td> 
 </tr>
 {% endfor %}
 </tbody>
 </table>
 
 </body>
 </html>