<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MDM - SMS based status report</title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />
</head>
<body>

<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/mward/{{ ai.id }}/mdm_dashboard" title="Main Page">{{ ai.name }}</a></h1>	
	<div style="align:right;">SMS to: <b><i>09220092200</i></b></div>
	</div>


<div id="info">
 
 <table class="entitytable">
 <thead class="oce-first">
 <tr>
 <th>Block Name</th>
 <th>Today's Report Status</th>
 </tr>
 </thead>
 {% for block, result_str in block_dict.items %}
 <tr>
 <td>
 <a href="{% url 'mward.views.mdm_block_report' ai.id block.id %}">{{ block }}</a>
 </td>
 <td>
 {{ result_str }}
 </td>
 </tr>
 {% endfor %}
 </table>
</div>
<br/>
<br/>
<div>

 <table class="entitytable">
 <thead class="oce-first">
 <tr>
 <th>Block Name</th>
 <th>Reporter's name</th>
 </tr>
 </thead>
 {% for nmap in nmaps %}
 <tr>
 <td>
 <a href="{% url 'mward.views.mdm_block_report' ai.id nmap.school.block.id %}">{{ nmap.school }}</a>
 </td>
 <td>
 {{ nmap.number.name }}
 </td>
 </tr>
 {% endfor %}
 </table>
</div>
</body>
</html>
