<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward.ward_name }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/{{app_name}}/{{ city }}/{{ ward_name }}" title="Main Page">{{ ward.ward_name }}</a></h1>
	</div>

<div>
<ul id="menu">
 {% for type in types %}
 
 {% if type == selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="" class="current">{{ type.type }}</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/{{ type.type_code}}" title="">{{ type.type }}</a></li>
 {% endif %}
 {% endfor %}
 {% if not selected %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues" class="current">Issues</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/" title="issues">Issues</a></li>
 {% endif %}
 {% if selected == 'archives' %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives" class="current">Report Archives</a></li>
 {% else %}
 <li><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/archives/" title="archives">Report Archives</a></li>
 {% endif %}
 </ul>
 </div>
 
 
 <div id="contact">
 
 <a href="#info">General Information</a><br/><br/>
 To dispute {{ selected.type }} status:<br/> Call: 9910153713<br/>Email: modelward@gramvaani.org </div> 
 
 
 <div>
 <table class="entitytable">
 <colgroup>
<col class="oce-first">
</colgroup>
 <thead class="oce-first">
 <tr>
 <th>{{ selected.type }} </th>
 <th>Location</th>
 <th>Color </th>
 <th>Last Report Time </th>
 <th>Comments </th>
 <th>Disputed(Yes/No)</th>
 <th>Citizen Reports</th>
 <th>Cleaning Consistency</th>
 <th>Action</th>
 </tr>
 </thead>
 <tbody>
 
 {% for entity in entities %}
 <tr class="{% if forloop.counter|divisibleby:"2" %}even {% else %}odd{% endif %}">
 <td class="padtd">{{ entity.gov_id }}</td>
 <td class="padtd">{{ entity.location }}</td>
 <td class="padtd"> <span style=" padding:10px; background: {{ entity.current_color.hex_code }}; color: #FFFFFF; width: 90%;">{{ entity.current_color.color_code }} </span> </td>
 <td class="padtd"><p>{{ entity.last_report_time }}</p> </td>
 {% if entity.comments %}
 <td class="padtd"><p>{{ entity.comments }}</p> </td>
 {% else %}
 <td class="padtd"><p>No comments added</p> </td>
 {% endif %}
 {% if entity.is_disputed %}
 <td class="padtd" style="text-align:center">Yes</td>
 {% else %}
 <td class="padtd" style="text-align:center">No</td>
 {% endif %}
 {% if entity.open_issues.count > 0 %}
 <td class="padtd"><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/issues/{{ entity.id }}"> {{ entity.open_issues.count }} reports open</a></td>
 {% else %}
 <td class="padtd"> No issues reported </td>
 {% endif %}
 <td class="padtd"> {{ entity.cleaning_score }} % </td>
 <td><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/dispute/{{ entity.id }}/">dispute</a></td>
 </tr>
 
 {% endfor %}
 </tbody>
 </table>
 </div>
 
 <div id="info">
 
 <table class="entitytable">
 <thead class="oce-first">
 <tr>
 <th>General {{ selected.type }}  Information</th>
 </tr>
 </thead>
 {% autoescape off %}
 
 {% if description %}
 {{ description.description }}
 {% endif %}
 
 {% endautoescape %}
 </table>
 </div>
 
</body>
</html>