<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward_name_u }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>

<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/{{app_name}}/{{ city }}/{{ ward_name }}/" title="Main Page">{{ ward_name_u }}</a></h1>
	</div>



 
 <form method="post" action="">
 <table class="entitytable" style="text-align: justify;" >
 <thead> 
 <p class="entityp">General Dispute Form</p> 
 </thead>
 <tbody>
 {{ form.as_table }}
 <tr><th></th>
 <td><input type="submit" value="Dispute"></td>
 </tr>
 </tbody>
 </table>
 </form>
 </div>
 
 <div id="info">
 
 <table class="entitytable">
 <thead class="oce-first">
 <tr>
 <th>General {{ selected.type }}  Information</th>
 </tr>
 </thead>
 <tr>
 <td>
 <br/>
 <b>Please select the Location you want to dispute and in the comments, please try give some details, if possible.</b>
 <br/><br/><b><i><u>For Dhalaos</u></i><b><br/><br/>
 
 Please select the Designated Dhalao number as the ‘entity’ from the options that will appear in 
 the drop box and then leave any other details as comments.
 <br/>
 <br/>
 For example:<br/><br/>
 If you have seen a Dhalao 81 unclean:
 <ol>
 <li>
 Click the "dispute" link in the report.
 </li>
 <li>
 You will reach at the dispute form, over there, select "Dhalaos-81" in the Entity
  and give additional details in comments, if required.
 </li>
 <li>
 Click the "Dispute" button. This will open up a dispute in the system.
 </li>
 </ol>
 </td>
 </tr>
 <tr>
 <td>
 <br/>
 <b>Please select the Location you want to dispute and in the comments, please try give some details, if possible.</b>
 <br/><br/><b><i><u>For Malba</u></i><b><br/><br/>
 
 Please select Malba as the ‘entity’ from the options that will appear in 
 the drop box and then leave the details of your address as comments.
  Do not forget to leave the address from where malba needs to be picked up.
 <br/>
 <br/>
 For example:<br/><br/>
 If you have seen malba lying somewhere around your locality or if you want the malba to be picked up from your
place:
 <ol>
 <li>
 Click the "dispute" link in the report.
 </li>
 <li>
 You will reach at the dispute form, over there, select "Malba" in the Entity
  and write the address in comments.
 </li>
 <li>
 Click the "Dispute" button. This will open up a dispute in the system.
 </li>
 </ol>
 </td>
 </tr>
 
 <tr>
 <td>
 <br/><br/><b><i><u>For Street Sweeping</u></i><b><br/><br/>
 
 Please select Street Sweeping as the ‘entity’ from the options that will appear in the drop box and then leave the
details of the street address as comments. Do not forget to leave the address, street no., which you find as not
cleaned.
 <br/>
 <br/>
 For example:<br/><br/>
 If you find a street or streets as not clean then:
 <ol>
 <li>
 Click the "dispute" link in the report.
 </li>
 <li>
 You will reach at the dispute form, over there, select "Street Sweeping"
 in the Entity and write the address, location of the street in the comment.
 </li>
 <li>
 Click the "Dispute" button. This will open up a dispute in the system.
 </li>
 </ol>
 </td>
 </tr>
 
 <tr>
 <td>
 <br/><br/><b><i><u>For CTC</u></i><b><br/><br/>
 
 Please select the Location you want to dispute and in the comments, please try give some details, if
possible.
 <br/>
 <br/>
 For example:<br/><br/>
 If it has been reported that the the CTC-50 is GREEN (i.e. it is clean with adequate supply of water and
soap for the user) and you find that the CTC No. 50 is not clean. Then you can dispute the report with
the following steps:
 <ol>
 <li>
 Click the "dispute" link in the report.
 </li>
 <li>
 You will reach at the dispute form, over there, select "CTC-50" in the Entity and write "CTC not
clean" in comments. It will be very helpful if you can add some details about the problem in the
comment section. For example, no water, not cleaned or no soap or any other.
 </li>
 <li>
 Click the "Dispute" button. This will open up a dispute in the system.
 </li>
 </ol>
 </td>
 </tr>
 
 </table>
 </div>
 
</body>
</html>