<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward_name_u }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />

</head>
<body>

<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%><a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/" title="Main Page">{{ ward_name_u }}</a></h1>
	</div>
	
	<h3 width=50%>Thanks for filing the dispute! Your Issue Id is : {{ id }}</h3>
	<a href="/vapp/{{ app_name }}/{{ city }}/{{ ward_name }}/" title="Main Page">Back to Main Page</a>
</body>
</html>