<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Model Ward Project - {{ ward_name_u }} </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />
</head>

<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%>{{ app_name }} - Admin Page</h1>
	</div>
<ul id="menu">
<li><a href="/vapp/{{ app_name }}/admin/upload" title="upload">Upload Daily Report</a></li>
<li><a href="/vapp/{{ app_name }}/admin/zone_entry" title="ward">Enter Zone</a></li>
<li><a href="/vapp/{{ app_name }}/admin/ward_entry" title="ward">Enter Ward</a></li>
<li><a href="/vapp/{{ app_name }}/admin/dhalao_entry">Enter Dhalao</a></li>
</ul>

	<h3>Upload Daily Report:</h3>
	<div id="uploadForm">
	<form enctype="multipart/form-data" action="/vapp/mward/admin/upload" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
	</form>
	
	</div>



</body>
</html>