<!doctype html>
<!-- The DOCTYPE declaration above will set the    -->
<!-- browser's rendering engine into               -->
<!-- "Standards Mode". Replacing this declaration  -->
<!-- with a "Quirks Mode" doctype may lead to some -->
<!-- differences in layout.                        -->

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <!--                                                               -->
    <!-- Consider inlining CSS to reduce the number of requested files -->
    <!--                                                               -->
    <link type="text/css" rel="stylesheet" href="app/VoiceSite.css">

    <!--                                           -->
    <!-- Any title is fine                         -->
    <!--                                           -->
    <title>GramVaani Voice</title>
    
    <!--                                           -->
    <!-- This script loads your compiled module.   -->
    <!-- If you add any GWT meta tags, they must   -->
    <!-- be added before this line.                -->
    <!--                                           -->
    
  </head>

  <!--                                           -->
  <!-- The body can have arbitrary html, or      -->
  <!-- you can leave the body empty if you want  -->
  <!-- to create a completely dynamic UI.        -->
  <!--                                           -->
  <body>

    <!-- OPTIONAL: include this if you want history support -->
    <iframe src="javascript:''" id="__gwt_historyFrame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
    
    <!-- RECOMMENDED if your web app will not function without JavaScript enabled -->
    <noscript>
      <div style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">
        Your web browser must have JavaScript enabled
        in order for this application to display correctly.
      </div>
    </noscript>
    <table width=94% border=0 align=center cellpadding=0 cellspacing=0>
    	<tr valign=top>
    		<td width=1%>
    		<img src="app/gvlogo.gif" height=60 align=left/>
    		</td>
    		<td width=99% bgcolor=#ffffff valign=top>
    	</tr>
    	<tr>
    		<td width=70%>
    		<div id="frontPage">
    			<div id="title">Welcome to <i>Gram Vaani Voice</i></div>
    			
    			<div id="contact">For any inquiries, write to us at <a href="mailto:contact@gramvaani.org">contact@gramvaani.org</a></div>
    		</div>
    		</td>
    		<td width=30%>
    		    <div id="loginForm">
					<form name="login" action="{% url 'django.contrib.auth.views.login' %}" method="post">
						{% csrf_token %}
						<div class="row"><label>&nbsp;</label></div>
						<div class="row"><label for="id_username">Username:</label> <input type="text" name="username" id="id_username" /> </div>
						<div class="row"><label for="id_password">Password:</label> <input type="password" name="password" id="id_password" /> </div>
						<div class="submit"><label>&nbsp;</label><input type="submit" value="Sign in" /></div>
						<input type="hidden" name="next" value="/vapp/cvoice/admin/process_voice/" /> 
					</form>
					<script type="text/javascript"> 
						document.getElementById('id_username').focus()
					</script>
				</div>
    		</td>
    	</tr>
    </table>
  </body>
</html>
