<html>
<head>
{% block libs %}
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mericity.in - Engage To Change! </title>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/vapp/app/resources/style/cvoice/menu_style.css" type="text/css" media="screen" />

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>


<script type="text/javascript" src="/vapp/app/resources/js/thickbox/jquery-1.7.2.js"></script>
<script type="text/javascript" src="/vapp/app/resources/js/thickbox/thickbox.js"></script>
<link rel="stylesheet" href="/vapp/app/resources/js/thickbox/thickbox.css" type="text/css" media="screen" />
      
{% endblock %}

{% block gmaps %}

<script src="//maps.googleapis.com/maps/api/js?sensor=false&libraries=places"
      type="text/javascript"></script> 
      

 
    <style type="text/css"> 
      body {
        
        font-size: 14px;
      }
      #map_canvas {
        height: 400px;
        width: 600px;
        margin-top: 0.6em;
      }
    </style> 
 
    <script type="text/javascript">
    $(document).ready(function() {
    $("#wardname").click(function(event) {
   		$.post( 
             "/vapp/cvoice/get_ward/",
             {});
 });
 });
    
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(28.60,77.12),
          zoom: 10,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);
 
        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input);
 
        autocomplete.bindTo('bounds', map);
 
        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map
        });
 
        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          infowindow.close();
          var place = autocomplete.getPlace();
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
 
          var image = new google.maps.MarkerImage(
              place.icon,
              new google.maps.Size(71, 71),
              new google.maps.Point(0, 0),
              new google.maps.Point(17, 34),
              new google.maps.Size(35, 35));
          marker.setIcon(image);
          marker.setPosition(place.geometry.location);
          var address_text = $('#address').val();
          $.post( 
             "/vapp/cvoice/get_ward/",
             { address : address_text  }, function(data) {            	
            	
            	var obj = $.parseJSON(data);
            	
            	$("#wardname").text(obj.ward_name);
             	$("#wardname").attr('href',obj.ward_link);
             });     
 
          var address = '';
          if (place.address_components) {
            address = [(place.address_components[0] &&
                        place.address_components[0].short_name || ''),
                       (place.address_components[1] &&
                        place.address_components[1].short_name || ''),
                       (place.address_components[2] &&
                        place.address_components[2].short_name || '')
                      ].join(',') + '<br/>Ward:&nbsp;<a id="wardname" href="#">searching...</div>';
          }
 
          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });
 
        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          google.maps.event.addDomListener(radioButton, 'click', function() {
            autocomplete.setTypes(types);
          });
        }
 
        setupClickListener('changetype-all', []);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script> 
    {% endblock %}
</head>
<body>

{% block fblib %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=110325135758003";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endblock %}

{% block head %}
<div id="headbox" width=100% style="absolute; right: 0px; top: 0px;">
	<a href="http://gramvaani.org/"><img id="logo" style="position: absolute; left: 0px; top: 0px;" src="/vapp/app/gvlogo.gif"/></a>
	<h1>{{ head_title }}</h1>
	
	<a href="http://www.snsindia.org/"><img id="logo" style="position: absolute; right: 0px; top: 0px;" src="/media/images/sns.jpg"/></a>
	</div>
	
	<div style="float:right;padding:10px;">	
		
	{% if not user.is_authenticated %}
	<a href="{% url 'socialauth_begin' 'facebook' %}">
	
	<img src="/media/images/flogin.png" /></a>
	{% else %}
	{{ user.username }} | <a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}"">logout</a>
	| <a href="/vapp/cvoice/profile/1">my profile</a> | <a href="/vapp/cvoice/ward_info/{{ request.user.get_profile.ward.id }}/">my ward</a>
	{% endif %}
	</div>
	
{% endblock %}

{% block topmenu %}
<ul class="main-menu">
<li><a href="/vapp/cvoice/main" >Mericity Home</a></li>
<li><a href="/vapp/modelward/dhalaos/">Dhalao Monitoring</a></li>
<li><a href="/vapp/cvoice/mericity_about" >About Mericity</a></li>
<li><a href="/vapp/cvoice/volunteer/" >Volunteer with us</a></li>
</ul>

{% endblock %}
<br/>
<hr/>
<div style="background-color: #E2E2E2;">
{% block content %}


<table width="100%">
<td width="35%" style="vertical-align:top;">
<ul class="number">

<li><span style="font-size:50px;color:#236B19;">STEP 1:</span></li>
<li><span style="font-size:30px;">Know Your Ward</span></li>
<li>not sure about your municipal ward? Type your colony name &nbsp; </li>
<br/>
<br/>
<li><span style="font-size:50px;color:#236B19;">STEP 2:</span> </li>
<li><a href="{% url 'socialauth_begin' 'facebook' %}">
	
	<img src="/media/images/flogin.png" /></a><span style="font-size:30px;"> and Register</span></li>
<li>Register with us to participate.</li>
<br/>
<br/>
<li><span style="font-size:50px;color:#236B19;">STEP 3:</span></li>
<li><span style="font-size:30px;"> Engage To Change!</span></li>
<li>Participate in polls, surveys.</li>
<li>(Coming Soon!) Upload pictures, videos of your area. </li>
<li>(Coming Soon!) Participate in ward related activities over this platform.</li>
</ul>

	</td>
	<td width="65%" style="padding: 20px; text-align: right;">
	<div>
	
	<label>Colony Name: </label>
	<input type="text" name="address" id="address" size="70"> </input>	
	
	</div>
	<div id="map_canvas" style="float: right;padding-right: 100px;"></div> 
	</td>
	
	</tr>
</table>

{% endblock %}

<hr/>
</div>
<br/>
{% block social %}
<div class="fb-comments" data-href="http://mericity.in" data-num-posts="5" data-width="600"></div>

<script>
var options={ "publisher": "9a860162-1931-4676-b30d-057ebf3f5fae", "logo": { "visible": false, "url": "", "img": "http://sd.sharethis.com/disc/images/demo_logo.png", "height": 45}, "ad": { "visible": false, "openDelay": "5", "closeDelay": "0"}, "livestream": { "domain": "", "type": "sharethis"}, "ticker": { "visible": false, "domain": "", "title": "", "type": "sharethis"}, "facebook": { "visible": false, "profile": "sharethis"}, "fblike": { "visible": true, "url": "http://www.facebook.com/pages/Mericityin/158461027606743"}, "twitter": { "visible": false, "user": "sharethis"}, "twfollow": { "visible": false, "url": "http://www.twitter.com/sharethis"}, "custom": [{ "visible": false, "title": "Custom 1", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 2", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 3", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}], "chicklets": { "items": ["facebook", "twitter", "email"]}};
var st_bar_widget = new sharethis.widgets.sharebar(options);
</script>


</body>
</html>
{% endblock %}
