{% extends "main.html" %}

<html>
<head>

{% block gmaps %} {% endblock %}

</head>
<body>

{% block content %}
<hr/>
<br/>
<div style="text-align: center;">
<p><h3>Do YOU  want to participate in Governance of your ward?</h3></p>

<p><h3>Do You want your councilor to be accountable and governance to be transparent?</h3></p>
<p><h3>Are you ready to take part in making the system work?</h3></p>

<h3>Then it’s time for Action!</h3><br/>
</div>
<p>Mericity is such a platform where you can raise your voice on governance issues. And we would get your voice heard by the right people. Post your comments, express your opinion through polls, uploads photos, or simply call to participate.</p>

<p>Mericity.in is an attempt to initiate a 2-way dialogue between the government and citizens, and achieve greater citizen participation in local governance by generating information from the bottom-up using accessible technologies.</p>

<p>Built by Gram Vaani Media, the mericity platform provides a technology space for NGOs and citizens groups to mobilize larger audiences. With nearly a decade of successful civic engagement experience in Delhi, Satark Nagarik Sangathan is exploring if technology can create better connections between citizens and authorities.

Lasting change can only come about through public participation. Without you, mericity.in is just another website. With your support, it has the potential to change how we engage with administration and government.</p>

{% endblock %}


</body>
</html>