{% extends "main.html" %}

<html>
<head>

{% load tag_helpers %}

{% block gmaps %} {% endblock %}

</head>
<body>


{% block content %}

<hr/>
<br/>
{% if user.is_authenticated %}
<h1 style="text-align:left;">Thank you for registering!</h1>
{% endif %}
{% if current_theme %}
<h2> {{ current_theme.theme_line }} </h2>
{% endif %}
<br/><br/>

{% if user.is_authenticated %}
{% if question_responses %}
Questions you have answered:<br/><br/>
{% for question,response in question_responses.items %}
{% if response %}
Q: &nbsp; {{ question.q_text }}<br/>
A: &nbsp; <b>{{ response.response.option_text }}</b>&nbsp;&nbsp;&nbsp;
{% if are_responses %}
<a href="{% dictget response_stats question %}&KeepThis=true&height=150&width=450&TB_iframe=true" class="thickbox">see results</a>
{% else %}
<h3>No one has taken this poll yet!</h3>
{% endif %}
<br/><br/>
{% endif %}
{% endfor %}

{% endif %}
{% if current_poll and questions %}
<form action="" method="post">
{% csrf_token %}
<input type="hidden" name="ward" value="{{ ward.id }}"/>
<input type="hidden" name="current_poll" value="{{ current_poll.id }}"/>
{% for question in questions %}
Q: &nbsp; {{ question.q_text }}
<br/>
{% if is_user_ward %}
A: &nbsp; <select name="q_{{ question.id }}">

{% for option in question.options.get_query_set %}
<option value="{{ option.id }}">{{ option.option_text }}</option>
{% endfor %}
</select>
{% endif %}
&nbsp;&nbsp;&nbsp;
{% if are_responses %}
<a href="{% dictget response_stats question %}&KeepThis=true&height=150&width=450&TB_iframe=true" class="thickbox">see results</a>
{% else %}
<h3>No one has taken this poll yet!</h3>
{% endif %}
<br/>
<br/>
{% endfor %}
{% if is_user_ward %}
<input type="Submit" value="Submit"/>
{% else %}
<h3>Please go to <a href="/vapp/cvoice/ward_info/{{ request.user.get_profile.ward.id }}/">your ward</a> and take the poll. </h3>
{% endif %}

</form>
{% else %}
<h2>No polls currently. </h2>
{% endif %}
{% else %}
{% for question in questions %}
Q: &nbsp; {{ question.q_text }}
<br/>
&nbsp;&nbsp;&nbsp;


{% if are_responses %}
<a href="{% dictget response_stats question %}&KeepThis=true&height=150&width=450&TB_iframe=true" class="thickbox">See Results</a>
{% else %}
<h3>No one has taken this poll yet!</h3>
{% endif %}


<br/>
<br/>
{% endfor %}
<br/>



<h3> <a href="{% url 'socialauth_begin' 'facebook' %}">Login</a> to take the poll.</h3>
{% endif %} 


{% endblock %}


</body>
</html>
