<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mericity.in - Admin Page </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />
</head>

<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%>Mericity.in - Admin Page</h1>
	</div>
<ul id="menu">
<li><a href="/vapp/cvoice/admin/process_voice/" title="upload">Enter Responses</a></li>
<li><a href="/vapp/cvoice/admin/ward_info" title="ward">Enter Ward Info</a></li>
</ul>


	<div id="entryForm">
	<form enctype="multipart/form-data" action="" method="post">
	{% csrf_token %}
	{% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}

	<input type="submit" value="Submit" />
	</form>
	
	</div>


</body>
</html>