<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mericity.in - Admin Page </title>
<link rel="stylesheet" href="/vapp/app/resources/style/mward/menu_style.css" type="text/css" media="screen" />
</head>

<body>
<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%>Mericity.in - Admin Page</h1>
	</div>
<ul id="menu">
<li><a href="/vapp/cvoice/admin/process_voice/" title="upload">Enter Responses</a></li>
<li><a href="/vapp/cvoice/admin/ward_info/" title="ward">Enter Ward Info</a></li>
</ul>


{% if form %}
{% if form.errors %}
<div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.</p>
	<ul>
	{% for field in form %}
	<li>{{ field.errors|striptags }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
	<div class="audiobox">
					<object type="application/x-shockwave-flash" data="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ ai.id }}/{{ response.response_recording.id }}.mp3" width="200" height="70">
						<param name="movie" value="/vapp/app/resources/swf/emff.swf?src=/fsmedia/recordings/{{ ai.id }}/{{ response.response_recording.id }}.mp3" />
					</object>
        		</div>
	<div id="VoiceForm">
	<form action="" method="post">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name="response_id" value="{{ response.id }}"/>
	<input type="submit" value="Submit" />
	</form>
	{% else %}
	<h3> No new voice responses currently. </h3>
	{% endif %}
	</div>



</body>
</html>