{% extends "main.html" %}

<html>
<head>

{% block gmaps %} {% endblock %}

</head>
<body>

{% block content %}
<hr/>
<br/>
<div style="text-align: center;"><h3>We are always looking for volunteers to take up the responsibility to make a difference.</h3><br/>
Looking to engage for change? 
Please contact us: <a href="mailto:mericity@gramvaani.org">mericity@gramvaani.org</a>
</div>

{% endblock %}

</body>
</html>