<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Mericity.in - change your city! </title>
<link rel="stylesheet" href="/vapp/app/resources/style/cvoice/menu_style.css" type="text/css" media="screen" />

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=110325135758003";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="headbox" width=100%>
	<img id="logo" style="position: absolute; left: 0px; top: 0px; z-index: -1" src="/vapp/app/gvlogo.gif"/>
	<h1 style="text-align: center;" width=50%>{{ ward.ward_name }}</h1>
	
		<img id="logo" style="position: absolute; right: 0px; top: 0px;" src="/media/images/sns.jpg"/>
	
	<div style="padding-top:60px;float:right;" class="fb-like" data-href="http://www.facebook.com/pages/Mericityin/158461027606743" data-send="true" data-layout="button_count" data-width="100" data-show-faces="false"></div>
	
	<span style="vertical-align:top;float:right; padding-top:60px; padding-right:10px">	
	{% if not user.is_authenticated %}
	{{ user.username }}
	<a href="{% url 'socialauth_begin' 'facebook' %}">
	
	<img src="/media/images/flogin.png" /></a>
	{% else %}
	{{ user.username }} | <a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}"">logout</a> 
	| <a href="/vapp/cvoice/profile/1">my profile</a>
	{% endif %}
	</span>
	</div>

<div style="background-color: #E2E2E2;">

<table class="infotable" width=100%>
<thead>
<tr>
<th>
Ward Councellor
</th>
<th>
Info
</th>
<th>
Graphs
</th>
</tr>
</thead>
<tr>
<td width="25%" style="padding-left:18px; vertical-align:top;">
<img  src="/media/{{ ward.head_pic }}" width="170" height="170" border="0" style="align: center" />
<br/>
{{ ward.head_name }}
</td>

<td width="50%" style="vertical-align:top;">
<div style="text-align:justify; padding:10px;">

{{ ward.ward_data.info|linebreaksbr }}
</span>
</td>

<td width="25%" style="vertical-align:top;">


<img src="/media/{{ ward.ward_data.graph }}" width="350" height="300" border="0"  />
</td>
</tr>

</table>
</div>

<div class="menu-div"  style="border-top: 2px solid #F00000;">

<ul class="menu-ul">
<li><a href="#">Current Poll</a></li>
<table width=100% style="border:solid 1px #ff0000;">
<tr>
<td width=50% style="border-right: solid 1px #ff0000;">
{% if user.is_authenticated %}
{% if current_poll and questions %}
<form action="" method="post">
{% csrf_token %}
<input type="hidden" name="ward" value="{{ ward.id }}"/>
<input type="hidden" name="current_poll" value="{{ current_poll.id }}"/>
{% for question in questions %}
Q: &nbsp; {{ question.q_text }}
<br/>
A: &nbsp; <select name="q_{{ question.id }}">

{% for option in question.options.get_query_set %}
<option value="{{ option.id }}">{{ option.option_text }}</option>
{% endfor %}
</select>
<br/>
<br/>
{% endfor %}
<br/>
<br/>
<input type="Submit" value="Submit"/>
</form>
{% else %}
<h2>No polls currently. </h2>
{% endif %}
{% else %}
{% for question in questions %}
Q: &nbsp; {{ question.q_text }}
<br/>
<br/>
{% endfor %}
<br/>
<h3> <a href="{% url 'socialauth_begin' 'facebook' %}">Login</a> to take the poll.</h3>
{% endif %} 
</td>
<td width=50%>
{% if graph_url %}
<img src="{{ graph_url }}" style="text-align: center;"></img>
<div>
<i>
{% for k,v in data.items %}
<b>{{ k }}</b> : {{ v }} &#37;
<br/>
{% endfor %}
<b>Total No. of responses:</b> {{ total_responses }} <br/>
</i>
</div>
{% else %}
No data available.
{% endif %}
</td>
</tr>
</ul>

</div>

</body>
</html>
