{% extends "main.html" %}

<html>
<head>

{% block gmaps %} {% endblock %}

</head>
<body>

{% block content %}
<hr/>

<div style="background-color: #E2E2E2;">
<br/>

	<div id="entryForm">
	<form action="" method="post">
	{% csrf_token %}
	{% for field in form.visible_fields %}
        <div class="fieldWrapper">
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        </div>
    {% endfor %}

	<input type="submit" value="Submit" />
	</form>
	
	</div>
</div>

{% endblock %}

{% block social %}
<script>
var options={ "publisher": "9a860162-1931-4676-b30d-057ebf3f5fae", "logo": { "visible": false, "url": "", "img": "http://sd.sharethis.com/disc/images/demo_logo.png", "height": 45}, "ad": { "visible": false, "openDelay": "5", "closeDelay": "0"}, "livestream": { "domain": "", "type": "sharethis"}, "ticker": { "visible": false, "domain": "", "title": "", "type": "sharethis"}, "facebook": { "visible": false, "profile": "sharethis"}, "fblike": { "visible": true, "url": "http://www.facebook.com/pages/Mericityin/158461027606743"}, "twitter": { "visible": false, "user": "sharethis"}, "twfollow": { "visible": false, "url": "http://www.twitter.com/sharethis"}, "custom": [{ "visible": false, "title": "Custom 1", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 2", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 3", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}], "chicklets": { "items": ["facebook", "twitter", "email"]}};
var st_bar_widget = new sharethis.widgets.sharebar(options);
</script>
{% endblock %}

</body>
</html>