<html>
<head>
</head>
<body style="align: center">

{% for key, value in stats.items %}
	<b>	Total referrals for ai_id -  {{ key.id }}:</b><br />
	For {{ date }} = {{ value.0 }}<br />
	Till {{ date }} = {{ value.1 }}<br />
	<b>Successful referrals:</b><br />
	For {{ date }} = {{ value.2 }}<br />
{% endfor %}	
</body>
</html>
