<html>

<body>
  {% with "border: 1px solid #d4d4d4; padding: 5px; padding-top: 7px; padding-bottom: 7px; vertical-align: top;" as style_var %}
  
  Referrals: {{ referrals }}<br />
  Referrals where referred person received call: {{ referrals_call_received }}<br />
  {% if successful_referrals %}
  Successful Referrals (Min 1 call in 3 days post referral): {{ successful_referrals }}<br/>
  {% endif %}
  Total referrals till end date: {{ total_referrals }}<br />
  
  <table style="{{ style_var }} border-collapse: collapse;">
      {% for data in stats_table  %}
          <tr>
              {% for elem in data %}
              <td style="{{ style_var }} text-align:center;">{{ elem }}</td>
              {% endfor %}
          </tr>
      {% endfor %}
  </table>
  {% endwith %}
</body>
</html>