<!DOCTYPE html>
<html>
<body>

  <table style="border-width: thin; border-spacing: 2px; border-style: solid; border-color: black; 
		border-collapse: collapse;">
    <tr style="background-color: #C0C0C0;">
      <th style="border: 1px solid black;">Number</th>
      <th style="border: 1px solid black;">Name</th>
      <th style="border: 1px solid black;">No of Referrals</th>
    </tr style="background-color: #C0C0C0;">
    {% for winner in winners %}
    <tr>
      <td style="border: 1px solid black;">{{ winner.0 }}</td>
      <td style="border: 1px solid black;">{{ winner.1 }}</td>
      <td style="border: 1px solid black;">{{ winner.2 }}</td>
    </tr>
    {% endfor %}
  </table>

</body>
</html>

